<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Здравствуйте!</h1> <br>
    <h3> <b>Введите в адресной строке <u> <a href="/def"> /def </a> </u>  для вывода функционального представления</b> <br> </h3>
    <h3> <b>Введите в адресной строке <u> <a href="/class"> /class </a> </u> для вывода классового представления</b> </h3>
    <form action="/platform" method="get">
        <button>Магазиин игр 1998</button>
    </form>
</body>
</html>