<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Games in 1998</title>
</head>
<body>
    <h1><b>Игры</b></h1>
    <ul>
        <li>
            {{game1}} <button>Купить</button> <br>
            <img src="https://steamuserimages-a.akamaihd.net/ugc/2013722609365522428/4A7C0180A3020FB6ED77903E96D27557D09BFFEA/?imw=512&amp;imh=288&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true"
                 height="160" width="240">
        </li>
        <li>
            {{game2}} <button>Купить</button> <br>
            <img src="https://avatars.mds.yandex.net/get-mpic/5210428/img_id610146064345825338.jpeg/orig"
                 height="240" width="160">
        </li>
        <li>
            {{game3}} <button>Купить</button> <br>
            <img src="https://m.media-amazon.com/images/M/MV5BZDkzYjQ5ZmUtNzMwMS00YTAyLWEzNTktNzJjYTdlYjNjYmMyXkEyXkFqcGdeQXVyNjU1MjQ1MDU@._V1_FMjpg_UX1000_.jpg"
                 height="160" width="240">
        </li>
        <li>
            {{game4}} <button>Купить</button> <br>
            <img src="https://avatars.mds.yandex.net/i?id=1079b8e8ea6f23b1871f6819c6250321_l-6898431-images-thumbs&n=13"
                 height="240" width="160">
        </li>
        <li>
            {{game5}} <button>Купить</button> <br>
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1850419664506554567/D1030D37BE96C30399979905F65A4DE5E2E9E122/?imw=512&amp;imh=384&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true"
                 height="240" width="240">
        </li>
    </ul>
    <form action="/platform" method="get">
        <button> Вернуться обратно </button>
    </form>
</body>
</html>